

.play-board-row {
    display: flex;
    justify-content: space-evenly;
}

.play-buttons {
    display: flex;
    justify-content: space-evenly;
}

/* =========Position CSS */

.position{
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100px;
    margin:10px;
}
.position-state-1{
    background: green;
}
.position-state-2{
    background: red;
}