.row {
    display: flex;
}
.play-area {
    margin: 100px;
    display: flex;
}
.play-board {
    background: yellow;
    padding: 10px;
}

/* =========Position CSS */

.position{
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100px;
    margin:10px;
}